{% extends "base.html" %}

{% from '_macros.html' import renderLabelField %}
{% block content %}
<div class="container text-dark card">
    <h2>Administrar Compras</h2>
    <div class="row m-5">
        <div class="col">
            <form>
                <div class="row">
                    <div class="col">
                        <input type="text" name="idProducto" id="idProducto" hidden disabled>
                        {{ renderLabelField(form.tipo, class="form-select") }}
                    </div>
                    <div class="col">
                        {{ renderLabelField(form.color, class="form-select") }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ renderLabelField(form.nombre, class="form-control") }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ renderLabelField(form.precio, class="form-control") }}
                    </div>
                    <div class="col">
                        {{ renderLabelField(form.imagen, class="form-control") }}
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col">
                        
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-6">
                        {{ renderLabelField(form.materiaPri, class="form-select") }}
                    </div>
                    <div class="col-5">
                        {{ renderLabelField(form.cantidadMPri, class="form-control") }}
                    </div>
                    <div class="col-1 mt-4">
                        <button type="button" class="btn btn-success btn-sm" id="addMateriaPri"
                            onclick="addMateriaPrima()"><strong> + </strong></button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button type="button" class="btn btn-success" onclick="registrarProducto()">Registrar producto</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col m-0 p-0 rounded shadow" style="max-height: 250px; overflow: auto;">
            <table class="table rounded m-0">
                <thead class="table-dark">
                    <th colspan="2" class="text-white rounded-top" style="position: sticky; top: 0; z-index: 1;">
                        Materiales</th>
                </thead>
                <tbody id="materiasPriTBody">

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var materiaPrimArray = [];

    var removeMateriaPrima = (button, idMateriaPri) => {
        let row = button.parentElement.parentElement;
        row.remove();
        materiaPrimArray.some(e => {
            if (parseInt(e.idMateriaPri) === parseInt(idMateriaPri)) {
                materiaPrimArray.splice(materiaPrimArray.indexOf(e), 1);
            }
        });
        listarMaterias();
    }

    var addMateriaPrima = () => {
        let cantidadMPri = $('#cantidadMPri').val();
        let idMateriaPri = $('#materiaPriProducto').val();
        let txtMateriaPri = $('#materiaPriProducto option:selected').text();
        let txtInfoMateriaPri = txtMateriaPri.split('-');
        let materiaPrimaObj = {
            'idMateriaPri': idMateriaPri,
            'descripcion': `${ txtInfoMateriaPri[0].trim()} - ${ cantidadMPri } ${ txtInfoMateriaPri[1].trim() }`,
            'cantidadMPri': parseFloat(cantidadMPri)
        }
        if (cantidadMPri <= 0 || !cantidadMPri) {
            alert('Elije una cantidad de material válida!');
            return;
        } 
        if (materiaPrimArray.some(e => e.idMateriaPri === materiaPrimaObj.idMateriaPri)) {
            materiaPrimArray.some(e => {
                    e.cantidadMPri += parseFloat(cantidadMPri);
                    e.descripcion = `${ txtInfoMateriaPri[0].trim()} - ${ e.cantidad } ${ txtInfoMateriaPri[1].trim() }`;
            });
            listarMaterias();    
            return;
        }
        materiaPrimArray.push(materiaPrimaObj);
        listarMaterias();
    }

    var listarMaterias = () => {
        console.log("listar materias.\nmateriaPrimArray ", materiaPrimArray);
        $('#materiasPriTBody').empty();
        
        materiaPrimArray.forEach(materiaPri => {
            $('#materiasPriTBody').append(
            `<tr>
                <td>${materiaPri.descripcion}</td>
                <td>
                    <button class='btn btn-danger rounded-circle btn-close btn-sm p-1'  id='removeMateriaPri' onclick='removeMateriaPrima(this, ${materiaPri.idMateriaPri})'></button>
                </td>
            </tr>`);
        });
            
    }

    var registrarProducto = async () => {
        let idProducto = $('#idProducto').val();
        let tipo = $('#tipoProducto').val();
        let nombre = $('#nombreProducto').val();
        let color = $('#colorProducto').val();
        let precio = $('#precioProducto').val();
        let imagen = $('#imagenProducto').val();
        let endpoint = (idProducto == 0) ? 'registerProductos': 'modificarProducto';

        console.log(materiaPrimArray);
        if (materiaPrimArray.length === 0) {
            alert('Tienes que agregar al menos 1 material a la compra!');
            return;
        } else if (tipo == "" || nombre == "" || color == "" || precio == "" || imagen == "") {
            alert('Error en la información, verifica los datos del formulario!');
            return;
        }

        const response = await fetch(`http://127.0.0.1:5000/${endpoint}`, {
            method: 'POST',
            body: JSON.stringify({
                idProducto: idProducto,
                materias: materiaPrimArray,
                tipo: tipo,
                nombre: nombre,
                color: color,
                precio: precio,
                image: imagen
            }),
            headers: {
                'Content-type': 'application/json; charset=UTF-8'
            }
        }).then(response => {
            console.log("response ", response);
            if(response.status == 200){
                alert("Producto registrado");
                window.location.href="consultarProductos";
            }
        }).catch(error => {
            console.log("error ", error);
        });
    }

</script>
{% endblock %}
