{% extends "base.html" %}

{% block content %}
<div class=" is-offset-4 box" style="background-color: rgb(57, 30, 9);">
    <h3 class="title">Agregar Nuevo Producto</h3>
    <div class="box" style="background-image:url(../static/img/fondo.jpg)">

        <form method="POST" action="/registerProductos">
            <div class="field">
                <div class="control">
                    <input name="tipo" type="text" id="tipo" list="tipos">
                    <datalist id="tipos">
                        <option>Bolso</option>
                        <option>Cartera</option> 
                        <option>Cinto</option> 
                       </datalist>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="nameVG" placeholder="Nombre del Modelo" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="color" placeholder="Color" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="precio" placeholder="Precio" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="cantidad" placeholder="Cantidad" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="file" name="imagen" placeholder="URL de imagen">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="materiales" placeholder="Materiales" autofocus="">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth" style="background-color: rgb(57, 30, 9);">Registrar</button>
        </form>
    </div>
</div>
{% endblock %}
